boto3==1.9.253
botocore==1.12.253
copulas==0.2.5
cycler==0.10.0
decorator==4.4.2
docutils==0.14
exrex==0.10.5
Faker==4.0.2
graphviz==0.13.2
jmespath==0.9.5
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.2.0
networkx==2.4
numpy==1.16.6
pandas==0.24.2
pomegranate==0.11.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
rdt==0.2.1
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.4.1
sdgym==0.1.0
sdv==0.3.2
six==1.14.0
sklearn==0.0
text-unidecode==1.3
torch==1.3.1
torchvision==0.4.2
urllib3==1.25.8
